// Color Cube
$color-white: #fefefe;
$color-tuna: #6d639e;
$color-silver: #bcbcbc;
$color-mountain: #1eae96;
$color-boulder: #797979;
$color-alizarin: #e2261a;
$color-sunglo: #df7470;
$color-klein: #0427a1;
$color-turquoise: #61e6d2;
$color-japanese: #780601;
// Median Cut
$color-porcelain: #eceeef;
$color-charade: #282935;
$color-chico: #8c6157;
$color-jungle: #2fad96;
$color-sandal: #9f8c67;
// Material Design
$color-jungle-green: #0088cc;
$color-dorado: #5d5450;
$color-thunderbird: #c92217;
$color-sand: #81695e;
$color-water: #ecf2f9;





